*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', "Aria" sans-serif;
  font-weight: 500;
}

.main-nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding: 5px;
  background: black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
  max-height: 65px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav div {
  font-style: italic;
  font-size: 14px;
  padding: 2px 5px 1px 5px;
  float: left;
  color: #fff;
}

nav ul li {
  margin-left: 35px;
  line-height: 1.5;
  letter-spacing: 1px;
}

nav ul a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 4px;
  transition: .3s;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
}

a {
  color: #fff;
}

nav a:hover {
  color: #787171;
}

.container {
  max-width: 78%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header p {
  font-size: 2.5em;
  margin-left: 25%;
  padding-top: 5em;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
}

header h1 {
  margin-left: 23%;
  padding-top: 0.8em;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button {
  width: 400px;
  font-size: 2em;
  text-align: center;
  border: 1px solid;
  border-radius: 1em;
  color: white;
  background-color: black;
  margin-left: 17%;
  margin-top: 1.5em;
}

.button:hover {
  transform: scale(1.2, 1.2);
}

header {
  height: 710px;
  background-image: url(../img/404.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 5px 50px;
}

#footer {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  padding-left: 6em;
  padding-right: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}