@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', "Aria" sans-serif;
  font-weight: 500;
}

.main-nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding: 5px;
  background: black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
  min-height: 65px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav div {
  font-style: italic;
  padding: 2px 5px 1px 5px;
  float: left;
  color: #fff;
}

nav ul li {
  margin-left: 35px;
  line-height: 1.5;
  letter-spacing: 1px;
}

nav ul a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 4px;
  transition: .3s;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
}

a {
  color: #fff;
}

a:hover {
  color: #787171;
}

ul a.active {
  color: #787171;
  cursor: default;
}

.container {
  width: 78%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes moveLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
}

header {
  width: 100%;
  height: 750px;
  background-image: url(../img/fon.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header h2 {
  font-size: 3em;
  padding-left: 11%;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.40);
  animation: moveLeft .10s ease-out .4s backwards;
}

header h1 {
  font-size: 5em;
  font-style: italic;
  padding-left: 7%;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.40);
  animation: moveLeft .7s ease-out .4s backwards;
}

header h3 {
  align-self: flex-end;
  font-size: 3em;
  padding-right: 100px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.40);
  animation: moveRight .7s ease-out .4s backwards;
  margin-bottom: 0;
}

#masters h2 {
  text-align: center;
}
#masters h3 {
  padding: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.card {
  display: flex;
  justify-content: center;
  align-items: end;
}
.one,
.two,
.three{
  font-size: 20px;
  padding-bottom: 8px;
}

[class*="column-"] {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 1px;
  max-width: 100%;
}

.column-3 {
  flex: 0 0 24%;
  width: 200px;
  height: 400px;
  margin: 0 auto;
  margin-left: 0;
  position: relative;
  border: 3px solid #f5dde1;
}
#last {
  margin-right: 0;
}

.master,
.description {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  backface-visibility: hidden;
  background-color: #fff;
  transition: 1s;
}

.description {
  box-sizing: border-box;
  padding: 20px;
  transform: rotateY(180deg);
}

.description p {
  text-align: justify;
  font-size: 19px;
}

.description h2 {
  margin-top: 0;
}

.column-3:hover .master {
  transform: rotateY(180deg);
}

.column-3:hover .description {
  transform: rotateY(360deg);
}

.master img {
  width: 100%;
  height: 100%
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.gallery {
  width: 76%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vh;
  grid-auto-flow: dense;
}

.gallery .image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery .image:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery .image:nth-child(2n+1) {
  grid-row-start: span 2;
}

.gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  filter: brightness(0.5) grayscale(1);
  transition: 0.3s ease-in-out;
}

.gallery .image img:hover {
  filter: brightness(1) grayscale(0);
  transform: scale(1.1);
}

.button {
  width: 350px;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid;
  border-radius: 1em;
  background-color: #070707;
  margin-left: 35%;
}

.button a {
  text-decoration: none;
}

iframe {
  display: block;
  margin: 20px auto;
}

.social {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

#information h2 {
  margin-top: 50px;
}
.videoBox {
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

#footer {
  background-color: black;
  color: #fff;
  margin-top: 3.5rem;
  padding: 10px 0;
  padding-left: 6em;
  padding-right: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 960px) {
  .main-nav {
    padding: 0;
    min-height: 45px;
  }

  header {
    height: 450px;
    background-image: url(../img/fon.jpg);
  }
  .container {
    width: 91%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    padding-left: 3em;
  }

  .column-3 {
    flex: 0 0 26%;
    width: 100px;
    height: 300px;
    margin: 0 1em;
    border: 3px solid #f5dde1;
    overflow: hidden;
  }

  .button {
    width: 300px;
    margin-left: 30%;
  }
  .description {
    padding: 5px;
  }
  .description p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 15px;
  }
  .container {
    width: 80%;
  }
  header h1 {
    font-size: 4em;
    font-style: italic;
    padding-left: 1.5em;
    padding-top: 1em;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.40);
    animation: moveLeft .5s ease-out .4s backwards;
  }

  .row {
    display: block;
    padding-left: 30%;
  }

  .column-3 {
    width: 50%;
    height: 300px;
    margin: 0;
    margin-top: 1em;
    border: 3px solid #f5dde1;
    overflow: hidden;
  }

  .gallery {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
  }


  .mobile-toggle {
    display: block;
    margin-top: -5px;
  }

  .mobile-toggle span {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #000000;
    display: block;
  }

  nav {
    display: none;
  }

  .main-nav.open nav {
    display: block;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
    text-align: center;
  }

  nav ul li:first-child {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
  }

  header h2 {
    font-size: 2em;
  }

  header h3 {
    font-size: 1em;
  }

  header {
    height: 350px;
    background-image: url(../img/fon.jpg);
  }
  #masters h2 {
    margin: 10px 0;
  }
  #masters h3 {
    margin:0;
    padding: 0;
  }
  .row {
    padding-left: 0;
  }

  .column-3 {
    width: 50%;
    height: 300px;
    margin: 0 5em;
    margin-top: 1em;
    border: 3px solid #f5dde1;
    overflow: hidden;
  }

  .gallery {
    display: grid;
    grid-template-columns: auto auto;
  }
  .one,
  .two,
  .three{
    font-size: 16px;
    padding-bottom: 7px;
  }
  #last {
    margin-right: 5em;
  }

  .button {
    margin-left: 35%;
    width: 150px;
  }

  iframe {
    width: auto;
  }
  
}
